<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paws Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- my javascript -->
    <script src="static/pawsfinder.js"></script>  
<!--     <script src="static/zipcode.js"></script>   --><!-- TO DO, nice to have -->  
         
</head>
<body>

{% if "user_id" in session %}
    <a href="/logout">Logout</a><br>
    <a id="saved-searches" href="#get-saved-searches">Saved Paws</a>        

{% else %}
    <a href="/login">Login</a>
{% endif %}
<br>
<a href="/register">Register</a>
<br>
<a href="/">Home</a></p>
<div id="saved-title"></div>

<hr>
    <script src="static/savedpaws.js"></script>


{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}


{% block content %}
    Put your body here.
{% endblock %}

<div class="modal fade" id="save-modal">
  <div class="modal-dialog"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Saved Searches</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>