<!doctype html>
<html>
<head>

    <title>Paws Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- our javascript -->
    <script src="static/pawsfinder.js"></script>       
</head>
<body>

{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}
<br>
<a href="/register">Register</a>
<br>
<a href="/">Home</a></p>

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}


{% block content %}
    Put your body here.
{% endblock %}

</body>
</html>