{% extends 'base.html' %}

{% block content %}

<h1>Welcome To The BFF Finder</h1>
<p>Where you fur-ever friend is just a click away!</p>

<p>“The greatness of a nation and its moral progress can be judged by the way its animals are treated.”― Mohandas Karamchand Gandhi
</p>


<h2>SEARCH FOR YOUR NEXT FUR-EVER FRIEND</h2>

<form action="/search" method="GET">
  Zip code<input type="text" name="zipcode" value="Ex. 94114">
<!--   City<input type="text" name="city" value="Ex. San Francisco">
  State<input type="text" name="state" value="Ex. CA"> -->
  
  Animal
    <select name="animal">
    {% for animal in animals %}
      <option value="{{ animal }}">{{ animal }}</option>
    {% endfor %}  
    </select>

<!-- Breed <input type="text" name="breed" value="TO DO: create drop down"> --> 

  Age
    <select name="age">
     {% for age in ages %}
      <option value="{{ age }}">{{ age }}</option>
     {% endfor %}     
    </select>    

  Gender
    <select name="gender">
    {% for gender in genders %}
      <option value="{{ gender }}">{{ gender }}</option>
    {% endfor %}  
    </select>

  <input type="submit" value="Submit">

</form> 

{% endblock %}