{% extends 'base.html' %}
{% block content %}

<!-- This uses AJAX -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- our javascript -->
    <script src="static/pawsfinder.js"></script>

<p id="logged-in-status">You are logged out. Thanks for visiting Paws Finder!</p>

<h1>Login</h1>
<form id="login-form">

  <div>
    <label>Email
        <input id="email-field" type="email" name="email" required>
    </label>
  </div>

  <div>
    <label>Password
        <input id="password-field" type="password" name="password" required>
    </label>
  </div>

  <div>
    <input type="submit" value="Log In">
  </div>

</form>

<button id="logout-button" hidden>Log out</button>

{% endblock %}