{% extends 'base.html' %}

{% block content %}

<h1>{{ search.name }}</h1>

<p>You searched for a {{ genders[gender] }} {{ animal }} in location {{ location }}.
<p>For more advanced search criteria including age, breed, size, shelter location, and contact information, register for an account now.</p>
<br>
Here are your results: </p>

<ul>
  {% for pet in pets %}
    <li>
    {{ pet.name}} can be seen in shelter with the ID {{ pet.shelterId }} in {{ pet.contact.city }}. 
    <img src = "{{ pet.photos[1]['url']}}" />
    </li>
    <br>
  {% endfor %}
</ul>  

{% endblock %}